<template>
  <button
    :class="['obj__' + name + '--frame-' + frame +
            [show ? '--show' : ''] +
            [active ? '--active' : '']]"
    @click='active = !active'
  ></button>
</template>

<script>
export default {
  name: 'objects',
  data: function() {
		return {
      active: false,
      show: true,
      frame: 0,
		};
  },
  props: {
    name: { type: String, default: "sample" }
  },
  created: function() {
    this.randomFrames()
  },
  methods: {
    randomFrames: function() {
      setInterval(function() {
        this.frame = Math.floor((Math.random() * 8) + 1);
        return frame;
      }, 1000)
    },
  }
}
</script>

<style lang="scss">
  /* Default */
  [class^='obj__'] {
    opacity: 0;

    position: absolute;

    width: 100px;
    height: 100px;

    cursor: pointer;
    border: 0;

    background: transparent;
    background-repeat: no-repeat;
  }

  [class*='--show'] {
    opacity: 1;
  }
  
  [class$="--active"] {
    filter: brightness(150%) grayscale(100%);
  }

  /* Frames */
  [class*='--frame-1'] {
    background-position: 0 0;
  }
  [class*='--frame-2'] {
    background-position: 100px 0;
  }

  /* Objects */
  [class*="__sample"] {
    background-image: url('../../img/sprite__sample.png');
    top: 0px;
    left: 0px;
  }

  [class*="__me"] {
    background-image: url('https://placeimg.com/900/1800/people');
    top: 0px;
    left: 100px;
  }
</style>