<template>
  <div id="app">
    <objects name="sample"></objects>
    <objects name="me"></objects>
  </div>
</template>

<script>
import objects from './components/objects.vue'

export default {
  name: 'app',
  components: {
    objects
  }
}
</script>

<style lang="scss">
  #app { position: relative; }
  * {
    transition: all .3s ease;
  }
  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }
</style>